﻿<p>
    You can always download the latest version <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder.msi">here</a>.<br />
    Additionally, you can find the latest source code <a href="https://gitlab.com/VaultOfKundarak/dungeon-finder">here</a>.
</p>

<h5>Version 1.1.9</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.9.msi">Download</a>
    </li>
    <li>Released on 2024-11-18</li>
    <li>Fix for auto-update settings.</li>
    <li>Added a settings upgrade check for users with older settings.</li>
</ul>

<h5>Version 1.1.8</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.8.msi">Download</a>
    </li>
    <li>Released on 2024-11-15</li>
    <li>Fixed a Null message error that was crashing on account save.</li>
</ul>

<h5>Version 1.1.7</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.7.msi">Download</a>
    </li>
    <li>Released on 2024-11-09</li>
    <li>Enhancement for server error proccessing.</li>
    <li>Fix LOTRO Server connectivity.</li>
</ul>

<h5>Version 1.1.6</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.6.msi">Download</a>
    </li>
    <li>Released on 2024-11-01</li>
    <li>Fix for Wayfinder server login.</li>
</ul>

<h5>Version 1.1.5</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.5.msi">Download</a>
    </li>
    <li>Released on 2024-10-30</li>
    <li>Updated Service Clients to allow for connecting to new servers like Cormyr.</li>
    <li>Created fully automated release cycles.</li>
</ul>

<h5>Version 1.1.4</h5>
<ul>
    <li>Updated to Dotnet 8 - this release includes a packaged version of dotnet, so no system update is required.</li>
    <li>Created fully automated release cycles.</li>
</ul>

<h5>Version 1.1.3</h5>
<ul>
    <li>Migrated installer from Microsoft Setup Projects to WiX4.</li>
    <li>Updated Dotnet Framework to version 6.0.</li>
    <li>Installer package now includes Dotnet as part of the application.</li>
    <li>Introduced a feature from Erofen that allows users to hide shortcuts from the tray, when using advanced options.</li>
    <li>Upgraded nuget packages: CommandLineParser, Autoupdater.NET.Official, log4net</li>
    <li>Added Preferences form that now allows for setting a preferences file parameter in your client, usable with a subscription or shortcut.</li>
    <li>Updated server listings for Lotro and Ddo.</li>
    <li>Fixed a bug introduced in the last patch prevented new group shortcuts from working.</li>
    <li>Fixed a bug with un-escpabable passwords.</li>
</ul>

<h5>Version 1.1.2</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.2.msi">Download</a>
    </li>
    <li>Released on 2022-05-09</li>
    <li>Fixed a bug introduced in the last patch that only showed one subscription per account.</li>
</ul>

<h5>Version 1.1.1</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.1.msi">Download</a>
    </li>
    <li>Released on 2022-05-09</li>
    <li>Remove extra line separator from tray menu when no shortcuts were available.</li>
    <li>Fixed spacing for Hidden LOTRO Subscriptions.</li>
</ul>

<h5>Version 1.1.0</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.1.0.msi">Download</a>
    </li>
    <li>Released on 2022-01-31</li>
    <li>Manual Login form now available in the tray, created by Erofen of Orien.</li>
    <li>Multi-login groups have been added to launch multiple characters at the same time. To create a group, you must have at least two shortcuts created.</li>
    <li>
        Added a command line launcher. Requires one of the following:
        <ul>
            <li>
                Combo: subscription id string, server name string, and optional character name string. Example: DungeonFinder.exe --server=serverName --subscription=25digitidstring or --server=serverName --subscription=25digitidstring --character=characterName.
            </li>
            <li>
                Shortcut id string. This id can be found in your settings file. Example: DungeonFinder.exe --shortcutid=e755c2bc-1a22-4203-8592-b24a7870bc67
            </li>
            <li>
                Group name string: Example: DungeonFinder.exe --groupname=groupingName
            </li>
        </ul>
    </li>
    <li>Changed the "Show command line options button" in Settings to "Show advanced launch options button".</li>
    <li>
        Changed the Command line button to an Advanced options button, that provides additional launch options:
        <ul>
            <li>
                Copy command line options to clipboard (retains original funcionality).
            </li>
            <li>
                Copy shortcut id to clipboard to get quick access to the Shortcut id.
            </li>
            <li>
                Creates a Windows shortcut on your desktop from a Dungeon Finder shortcut.
            </li>
        </ul>
    </li>
</ul>

<h5>Version 1.0.2</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.0.2.msi">Download</a>
    </li>
    <li>Released on 2021-11-15</li>
    <li>Switched build target to AnyCPU.</li>
    <li>Login update for LOTRO services.</li>
    <li>"Minimize UI on launch" now respects the setting properly when launching.</li>
</ul>

<h5>Version 1.0.1</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.0.1.msi">Download</a>
    </li>
    <li>Released on 2021-09-11</li>
    <li>Enabled the x64 setting by default on new config files now that x64 is the default DDO client architecture.</li>
    <li>Fixed the "Minimize to system tray" feature so the main form will stay in the Application tray when minimized.</li>
</ul>

<h5>Version 1.0</h5>
<ul>
    <li>
        <a href="https://s3.amazonaws.com/downloads.dungeonhelper.com/public/DF/Dungeon_Finder_1.0.0.msi">Download</a>
    </li>
    <li>Released on 2021-08-31</li>
    <li>First version of the newly renamed Launcher for SSG games, including Dungeons and Dragon's Online and Lord of the Rings Online.</li>
    <li>
        <strong>PLEASE NOTE: </strong>This tool is the successor and latest version of the <a href="https://gitlab.com/VaultOfKundarak/launcher">VoK Launcher</a>.
    </li>
</ul>